$foot-back:      #30353D;
$heading1-color: #E65C43;
$heading2-color: #FFF;
$heading3-color: #666;
$greybar-back:  #F5F6F6;
$body-font : "Roboto", sans-serif;
$back-image : "../images/bg.gif";
$logo : "../images/logo.png";
$headline-background: #F25C43;
$social-media : '../images/social-media.png'

